<div class="custom-form col-md-8 offset-md-2 col-lg-6 offset-lg-3">

    <form{{ attributes.addClass('contact-form', 'mb-5') }}>
        {{ title_prefix }}
        {{ children }}
        {{ title_suffix }}
    </form>

</div>