/*.h0 {
  z-index: 0;
  @include font($font-titles, $font-size-h0-mobile, $line-height-h0, $weight-bold, $grey-medium);
  text-transform: uppercase;

  @media (min-width: 768px) {
    font-size: $font-size-h0;
  }
}

.h0-secondary {
  z-index: 0;
  margin-bottom: 0.5rem;
  @include font($font-titles, $font-size-h0-secondary-mobile, $line-height-h0-secondary, $weight-bold, $grey-medium);

  @media (min-width: 768px) {
    font-size: $font-size-h1-secondary;
  }
}*/

h1 {
  z-index: 0;  /* mixin source map fix */
  @include font($font-titles, $font-size-h1-mobile, $line-height-h1, $weight-bold);
  text-transform: uppercase;
  text-align: center;
  position: relative;
  top: -1.2rem;

  @media (min-width: 768px) {
    font-size: $font-size-h1;
    top: -4.4rem;
  }
}

svg {
  position: relative;
  z-index: 999;
  overflow: visible;
}

text.h1 {
  @include font($font-titles, $font-size-h1-mobile, $line-height-h1, $weight-bold);
  text-transform: uppercase;
  fill: $primary;
  stroke: $black;
  stroke-width: 5px;
  paint-order: stroke fill;
  text-anchor: middle;
  stroke-linejoin: round;

  @media (min-width: 768px) {
    font-size: $font-size-h1;
    stroke-width: 10px;
  }
}

.h2-wrapper {
  position: relative;
  text-align: center;

  &:before {
    content: '';
    display: block;
    position: absolute;
    top: 13px;
    height: 5px;
    width: 100%;
    background-color: $primary;
    z-index: -2;
  }
}

h2, .h2 {
  z-index: 0;  /* mixin source map fix */
  @include font($font-titles, $font-size-h2-mobile, $line-height-h2, $weight-regular);
  text-transform: uppercase;
  position: relative;
  margin: 0 auto;
  padding: 0 1rem;
  display: inline-block;

  @media (min-width: 768px) {
    font-size: $font-size-h2;
  }

  &:before {
    content: '';
    display: block;
    position: absolute;
    top: 10px;
    left: 0;
    background-color: $black;
    width: 100%;
    height: 10px;
    z-index: -1;
  }
}

h3, .h3 {
  z-index: 0;  /* mixin source map fix */
  @include font($font-titles, $font-size-h3-mobile, $line-height-h3, $weight-regular);
  text-transform: uppercase;

  @media (min-width: 768px) {
    font-size: $font-size-h3;
  }
}

p {
  z-index: 0;  /* mixin source map fix */
  @include font($font-text, $font-size-base, $line-height-base, $weight-regular, $grey);
}

p.base-plus {
  font-size: $font-size-base-plus;
  line-height: $line-height-base-plus;
}

p.base-min {
  font-size: $font-size-base-min;
  line-height: $line-height-base-min;
}

strong, em {
  font-weight: $weight-bold;
  font-style: normal;
}

ul:not(.toolbar-menu) {

  li {
    list-style: none;
    color: $grey;
    margin-left: 0.7rem;

    &:before {
      content: '';
      display: inline-block;
      width: 5px;
      height: 5px;
      border-radius: 5px;
      position: relative;
      right: 0.6rem;
      bottom: 0.2rem;
      background-color: $grey;
    }
  }

  &.no-list-style {
    li {
      margin-left: 0;

      &:before {
        display: none;
      }
    }
  }
}
