@import url('https://fonts.googleapis.com/css?family=Varela&display=swap');
/*
*
* THEME VARIABLES
*
* WV default values have the "default" comment added
* remove this comment when replacing the default
*
*/

/* COLOURS */

$primary:                       #0066ff;
$secondary:                     #ffaa00;

$black:                         #111111;
$white:                         #FFFFFF;

$grey:                          #6a6a6a;
$grey-overlay:                  rgba(99, 99, 99, 0.25);      // #636363 met opacity 0.25

$body-bg:                       $black;

$header-background-color:       red;  // to do
$footer-background-color:       red;  // to do

$secondary-overlay:             rgba(255, 170, 0, 0.5);

/* FONTS */

@font-face {
  font-family: 'Renogare';
  src: url('../../../font/renogare.otf');
}

$font-text:                     'Varela', sans-serif;
$font-titles:                   'Renogare', sans-serif;
$font-quote:                    'Varela', cursive;                // to do
$font-awesome:                  'Font Awesome 5 Free', sans-serif;

// base styles for standard text & plus/min styles for small variations

$font-size-base:                1rem;
$line-height-base:              1.6;

$font-size-base-min:            0.8rem;     // to do
$line-height-base-min:          1.4;        // to do

$font-size-base-plus:           1.2rem;     // to do
$line-height-base-plus:         1.6;        // to do

// $font-size-form-label:          $font-size-base * 0.75;   // default
// $font-size-teaser1-label:       $font-size-base * 0.75;   // default

$font-size-quote-text:          5rem;                   // to do
$font-size-quote-text-mobile:   3rem;                   // to do
$line-height-quote-text:        4rem;                   // to do
$line-height-quote-text-mobile: 2.5rem;                 // to do

// header styles

// $font-size-h0:                  $font-size-base * 3;    // default
// $font-size-h0-mobile:           $font-size-base * 2;    // default
// $line-height-h0:                $line-height-header;    // default

// $font-size-h0-secondary:        $font-size-base * 1.8;  // default
// $font-size-h0-secondary-mobile: $font-size-base * 1.4;  // default
// $line-height-h0-secondary:      $line-height-header;    // default

$font-size-h1:                  84px;
$font-size-h1-mobile:           24px;  // to do
$line-height-h1:                $line-height-base;    // to do

$font-size-h2:                  20px;  // to do
$font-size-h2-mobile:           16px;  // to do
$line-height-h2:                $line-height-base;    // to do

$font-size-h3:                  20px;  // to do
$font-size-h3-mobile:           16px;  // to do
$line-height-h3:                $line-height-base;    // to do

// font-weights

$weight-regular:                400;
$weight-bold:                   700;


/* BUTTONS */

$button-padding:                0.5rem 1rem;  // to do


/* TRANSITION */

$transition-standard:           all 0.3s ease-in-out;


/* SPACING */
$spacer: 1rem;
$spacers: ();
$spacers: map-merge(
(
        0: 0,
        1: 0.5rem,
        2: 1rem,
        3: 1.5rem,
        4: 2rem,
        5: 2.5rem,
        6: 3rem,
        7: 3.5rem,
        8: 4rem,
        9: 4.5rem,
        10: 5rem
),
 $spacers);

/* SLIDER */

$slider-dot-size:           10px;                           // to do


/* SOCIAL BLOCK */
$social-item-size: 1.4rem;                                  // to do
$social-item-color: $grey;                                  // to do
$social-item-hover-color: $primary;                         // to do
