<footer class="footer">
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-md-6 footer-top-left">
                    <div class="footer-top-left-logo">
                        LOGO
                    </div>
                    <div class="footer-social social">
                        <ul class="social-inner">
                            <li><a href="#">GitHub</a></li>
                            <li><a href="#">CodePen</a></li>
                            <li><a href="#">Medium</a></li>
                            <li><a href="#">LinkedIn</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3 footer-top-mid">
                    <ul class="footer-menu">
                        <li class="footer-menu-label">Work</li>
                        <li class="footer-menu-item">Work Item 1</li>
                        <li class="footer-menu-item">Work Item 2</li>
                        <li class="footer-menu-item">Work Item 3</li>
                    </ul>
                </div>
                <div class="col-sm-6 col-md-3 footer-top-right">
                    <ul class="footer-menu">
                        <li class="footer-menu-label">About</li>
                        <li class="footer-menu-label">Blog</li>
                        <li class="footer-menu-label">Contact</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    &copy; 2020 Wim Verpoorten
                </div>
            </div>
        </div>
    </div>
</footer>