<header>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav class="navbar navbar-expand-lg align-items-stretch">
                    <a class="navbar-brand home-link" href="/index.html">Wim's Theme</a>
                    <button class="navbar-toggler align-self-center" type="button" data-toggle="collapse" data-target="#wvBaseThemeNav01" aria-controls="wvBaseThemeNav01" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse justify-content-end align-items-stretch" id="wvBaseThemeNav01">
                        <ul class="navbar-nav no-list-style">
                            {{ page.header.wvbasetheme_main_menu }}
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</header>