<header class="header-sticky-scroll">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav class="navbar navbar-expand-lg align-items-stretch">
                    <a class="navbar-brand home-link" href="{{ url('<front>') }}">Wim's Theme</a>
                    <button class="navbar-toggler align-self-center hamburger hamburger--spring mt-1" type="button" data-toggle="collapse" data-target="#wvBaseThemeNav02" aria-controls="wvBaseThemeNav02" aria-expanded="false" aria-label="Toggle navigation">
                                <span class="hamburger-box">
                                    <span class="hamburger-inner"></span>
                                </span>
                    </button>

                    <div class="collapse navbar-collapse justify-content-end align-items-stretch" id="wvBaseThemeNav02">
                        <ul class="navbar-nav no-list-style">
                            {{ page.header.wvbasetheme_main_menu }}
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</header>