<div class="pp_skills py-10 mb-10">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-lg-6 offset-md-2 offset-lg-3">
                <div class="h2-wrapper h2-wrapper-skills mb-6">
                    <h2 class="text-white pp_skills-title"><span>{{ content.field_pp_skills_title.0 }}</span></h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 pp_skills-text pp_skills-text1" data-aos="fade-right" data-aos-duration="600">
                {{ content.field_pp_skills_text1.0 }}
            </div>
            <div class="col-md-6 pp_skills-text pp_skills-text2" data-aos="fade-left" data-aos-duration="600" data-aos-delay="300">
                {{ content.field_pp_skills_text2.0 }}
            </div>
        </div>
    </div>
</div>
