<div class="pp_image mb-10">
    <div class="container">
        <div class="row pp_image-inner">
            <div class="col-12">
                {{ content.field_pp_image_img.0 }}
            </div>
        </div>
    </div>
</div>