<div class="pp_text_text">
    <div class="container">
        <div class="row">
            <div class="col-md-6 pb-5">
                {{ content.field_pp_texttext_text1.0 }}
            </div>
            <div class="col-md-6 pb-5">
                {{ content.field_pp_texttext_text2.0 }}
            </div>
        </div>
    </div>
</div>