{% set id = node.title.value|lower|replace({' ': '_'}) %}
{% set idref = '#' ~ id %}

<div class="col-sm-6 col-lg-4 mb-4">
    <a href="{{ url }}" class="work-teaser">
        <div class="work-teaser-inner h-100 text-center">
            <div class="work-teaser-image">
                <div class="work-teaser-image-outer">
                    <div class="work-teaser-image-inner" style="background-image: url({{ content.field_main_image.0['#markup'] }})">
                        <div class="container h100">
                            <div class="row h100">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container textcontent-wrapper">
                <div class="row">
                    <div class="col-10 offset-1 teaser-title-wrapper">
                        <p class="work-teaser-textcontent">{{ node.title.value }}</p>
                    </div>
                </div>
            </div>

            <div class="work-teaser-description">{{ content.field_teaser_text.0 }}</div>
            <h3 class="work-teaser-linktext">Check it out</h3>
        </div>
    </a>
</div>