.pp_text_image {
  margin-bottom: 2rem;

  @media (min-width: 768px) {
    margin-bottom: 5rem;
  }

  &-inner {

    .reverse & {

      div:first-of-type {
        order: 3;
      }
    }

    &:not(.reverse) {
      @media (max-width: 768px) {
        div:first-of-type {
          order: 3;
        }
      }
    }
  }

  &-img img {
    width: 100%;
    height: auto;
  }

  .col-md-6 {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;

    p:first-of-type {
      flex: 1 1 auto;
    }
  }

  .btn {
    margin-top: 2rem;
  }
}