.pp_text_text {
  margin-bottom: 2rem;

  @media (min-width: 768px) {
    margin-bottom: 5rem;
  }

  .col-md-6 {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;

    p:first-of-type {
      flex: 1 1 auto;
    }
  }

  .btn {
    margin-top: 2rem;
  }

  .btn + .btn {
    margin-top: 1rem;
  }
}