.pp_quote {

  &-inner {
    text-align: right;

    &:before,
    &:after {
      content:'';
      display: inline-block;
      width: 100px;
      border-top: 3px solid $primary;
    }

    &:before {
      margin-bottom: 2.5rem;

      @media (min-width: 768px) {
        margin-bottom: 2.2rem;
      }
    }

    &:after {
      margin-top: 2rem;
    }
  }

  &-text p {
    font-family: $font-quote;
    font-size: $font-size-quote-text-mobile;
    line-height: $line-height-quote-text-mobile;
    quotes: "“" "”" "‘" "’";
    color: $primary;
    text-align: right;

    @media (min-width: 768px) {
      font-size: $font-size-quote-text;
      line-height: $line-height-quote-text;
    }

    &:before {
      content: open-quote;
      font-family: $font-text;
      display: inline-block;
      color: $secondary;
      margin-right: 0.5rem;
    }

    &:after {
      content: close-quote;
      font-family: $font-text;
      position: absolute;
      color: $secondary;
    }
  }
}