.blog-teaser {

  &:hover {
    text-decoration: none;

    .blog-teaser-image-inner img {
      transform: scale(1.1);
    }

    .blog-teaser-text p {
      color: $secondary;
    }
  }

  &-inner {
    background-color: $grey-overlay;
    transition: $transition-standard;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.5rem;

    @media (min-width: 992px) {
      align-items: flex-start;
      padding: 1.5rem 2.5rem;
    }

    &:hover {
      background-color: $primary-25;
    }
  }

  &-title {
    font-size: 1.4rem;
    line-height: 1.2;
    margin-bottom: 0.5rem;
    text-shadow: 4px 4px 0 $black;
    text-align: center;

    @media (min-width: 480px) {
      font-size: 2rem;
    }

    @media (min-width: 992px) {
      text-align: left;
    }
  }

  &-date {
    font-size: $font-size-blog-teaser-date;
  }

  &-bottom {
    display: flex;
    flex-direction: column;

    @media (min-width: 992px) {
      flex-direction: row;
    }

    &-right {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;

      @media (min-width: 992px) {
        align-items: flex-start;
      }
    }
  }

  &-image {

    &-inner {
      width: 100%;
      height: 150px;
      margin-bottom: 1.5rem;
      @include bg-img;
      background-color: $secondary;
      background-blend-mode: multiply;
      overflow: hidden;
      position: relative;

      @media (min-width: 992px) {
        width: auto;
        min-width: 250px;
        margin-right: 1.5rem;
        margin-bottom: 0;
        height: 180px;
      }

      @media (min-width: 1200px) {
        height: 150px;
      }

      img {
        display: block;
        width: 100%;
        height: 100%;
        min-width: 100%;
        min-height: 100%;
        object-fit: cover;
        object-position: bottom;
        mix-blend-mode: multiply;
        transition: $transition-standard;
      }
    }
  }

  &-text p {
    transition: $transition-standard;
    text-align: center;

    @media (min-width: 992px) {
      text-align: left;
    }
  }

  &-linktext {
    margin-bottom: 0;

    &:after {
      font-family: $font-awesome;
      content: '\f04e';
      font-size: $font-size-base-mobile;
      font-weight: $weight-bold;
      margin-left: 1.5rem;

      @media (min-width: 768px) {
        font-size: $font-size-base;
        margin-left: 2.5rem;
      }
    }
  }
}

/* fallback for Edge. */
@supports (-ms-accelerator:true) {
  .blog-teaser-image-inner img,
  .js .blog-teaser-image-inner .lazyloaded {
    opacity: 0.5;
  }
}
@supports (-ms-ime-align:auto) {
  .blog-teaser-image-inner img,
  .js .blog-teaser-image-inner .lazyloaded {
    opacity: 0.5;
  }
}
/* end of fallback Edge. */