.footer {
  background-color: $footer-background-color;
  color: $grey;

  &-top {
    padding-top: 4rem;

    &-section {
      padding-bottom: 2.5rem;
    }

    &-left {

      &-logo {
        text-align: center;

        @media (min-width: 576px) {
          text-align: left;
        }

        img {
          width: 125px;
          height: auto;
          opacity: 0.5;
          position: relative;
          top: -12px;

          @media (min-width: 576px) {
            left: -10px;
          }
        }
      }
    }
  }

  &-menu {
    text-align: center;

    @media (min-width: 576px) {
      text-align: left;
    }

    &-label {
      font-family: $font-titles;
      text-transform: uppercase;
      margin-bottom: 0.2rem;
    }

    &-item {
      font-family: $font-text;
      margin-bottom: 0.2rem;
    }

    &-link {
      color: $grey;
      transition: $transition-standard;

      &:hover {
        text-decoration: none;
        color: $primary;
      }
    }
  }

  &-bottom {
    font-family: $font-text;
    font-size: 0.8rem;
    text-align: center;
    border-top: 1px solid $black;
    padding: 0.8rem 0;

    @media (min-width: 768px) {
      text-align: right;
    }
  }
}