.footer {
  background-color: $grey-overlay;
  color: $grey;

  &-top {
    padding-top: 4rem;

    &-section {
      padding-bottom: 2.5rem;
    }

    &-left {

      &-logo {
        text-align: center;

        @media (min-width: 576px) {
          text-align: left;
        }

        img {
          width: 125px;
          height: auto;
          opacity: 0.5;
          position: relative;
          top: -12px;

          @media (min-width: 576px) {
            left: -10px;
          }
        }
      }
    }
  }

  &-menu {
    text-align: center;

    @media (min-width: 576px) {
      text-align: left;
    }

    &-label {
      font-family: $font-titles;
      text-transform: uppercase;
      margin-bottom: 0.2rem;
    }

    &-item {
      font-family: $font-text;
      margin-bottom: 0.2rem;
    }

    &-link {
      color: $grey;
      transition: $transition-standard;

      &:hover {
        text-decoration: none;
        color: $primary;
      }
    }
  }

  &-bottom {
    font-family: $font-text;
    font-size: 0.8rem;
    text-align: center;
    border-top: 1px solid $black;
    padding: 0.8rem 0;

    @media (min-width: 768px) {
      text-align: right;
    }
  }
}

  /*
  background-color: $footer-background-color;
  border-top: 1px solid $primary;

  &-home-link {
    margin: 20px auto;

    @media (min-width: 768px) {
      margin: 20px 0px;
    }
  }

  &-mid {
    text-align: center;

    @media (min-width: 768px) {
      text-align: left;
    }

    h6 {
      padding-bottom: 1rem;
    }

    ul {

      li {
        margin-bottom: 0.5rem;
        color: $grey;

        a.footer-link {
          color: $grey;
          transition: $transition-standard;

          &:hover {
            text-decoration: none;
            color: $primary;
          }
        }
      }
    }
  }

  &-bottom {
    &-inner {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      width: 100%;

      @media (min-width: 768px) {
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
      }

      li {
        font-size: $font-size-base-min;
        color: $grey;
        padding-bottom: 0.5rem;
      }
    }
  }

  &-legal {

    ul {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-bottom: 0;

      li:before {
        background-color: transparent;
        width: auto;
        bottom: 0;
      }

      @media (min-width: 480px) {
        flex-direction: row;

        li+li:before {
          content: '|';
          display: inline-block;
          margin-left: 1rem;
          color: $grey;
        }
      }

      a {
        color: $grey;

        &:hover {
          text-decoration: none;
          color: $primary;
        }
      }
    }
  }

  &-landing {
    padding-top: 3rem;

    @media (min-width: 768px) {
      padding-top: 1.5rem;
    }

    &-top-inner {
      display: flex;
      flex-direction: column;

      @media (min-width: 768px) {
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 1rem;
      }

      .home-link {
        margin: 0 auto 30px auto;

        @media (min-width: 768px) {
          margin: 0;
        }
      }

      .social {
        order: 2;

        @media (min-width: 768px) {
          order: 0;
          margin-bottom: 0;
          align-items: flex-end;

          li {
            padding-bottom: 0.3rem;
          }
        }
      }
    }
  }
}
  */