.contact-form {

  .form-item {
    position: relative;
    height: 5rem;
    margin-top: 1rem;

    &-message {
      height: auto;
    }

    label {
      color: $secondary;
      transition: $transition-standard;
      margin-bottom: 0;
      transform: translateY(2rem);

      &.form-label-has-input {
        transform: translateY(0rem);
        text-transform: uppercase;
        font-size: 0.8rem;
      }
    }
  }

  &-input,
  &-input:-webkit-autofill:hover,
  &-input:-webkit-autofill:focus,
  &-input:-webkit-autofill {
    width: 100%;
    margin-top: 0;
    color: $primary;
    background-color: transparent;
    border: none;
    border-bottom: 3px solid $primary;

    &-text {

    }

    &-email {

    }

    &:focus {
      outline: none;
      border-bottom: 3px solid $secondary;
    }
  }

  &-input-textarea {
    resize: none;
  }
}