/* ANIMATED HAMBURGERS ONLY. You can add styling for the default bootstrap hamburger here if you like, but there are no custom values for that icon included here */
/* for a complete list of options, please take a look at https://jonsuh.com/hamburgers/ */
/* add the right class to the markup & customize the hamburger to your design's needs */


/* modify the hamburger icon's width */
.hamburger-box,
.hamburger-inner,
.hamburger-inner:before,
.hamburger-inner:after {
  width: 25px;
  border-radius: 0;
}

/* hamburger color */
.hamburger--spring {
  .hamburger-inner,
  .hamburger-inner:before,
  .hamburger-inner:after,
  &.is-active .hamburger-inner:before,
  &.is-active .hamburger-inner:after {
    background-color: $primary;
  }

  .hamburger-inner,
  .hamburger-inner:before,
  .hamburger-inner:after {
    transition: background-color 0.3s ease-in-out,
                top .1s cubic-bezier(.33333,0,.66667,.33333) .15s,
                -webkit-transform .13s cubic-bezier(.215,.61,.355,1) .22s;
  }

  &.is-active .hamburger-inner {
    transition: background-color 0.3s ease-in-out;
  }

  &.is-active .hamburger-inner:before,
  &.is-active .hamburger-inner:after {
    transition: background-color 0.3s ease-in-out,
    top .1s cubic-bezier(.33333,0,.66667,.33333) .15s,
    -webkit-transform .13s cubic-bezier(.215,.61,.355,1) .22s;
  }

  &:hover {
    .hamburger-inner,
    .hamburger-inner:before,
    .hamburger-inner:after,
    &.is-active .hamburger-inner:before,
    &.is-active .hamburger-inner:after {
      background-color: $secondary;
    }
  }
}


/* reposition the middle and lower bar
   (will always be specific for each variation, change the first classname accordingly) */
.hamburger--spring {

  .hamburger-inner {

    &:before {
      top: 8px;
    }

    &:after {
      top: 16px;
    }
  }
}
