header {
  background-color: $header-background-color;

  .navbar {
    padding: 0;

    &-brand {
      margin: 10px 0px;
    }

    &-toggler {

      &:focus {
        outline: none;
      }
    }

    .nav-item {
      box-sizing: border-box;
      border-bottom: 5px solid transparent;
      transition: $transition-standard;

      &:last-of-type {
        margin-bottom: 1rem;

        @media (min-width: 992px) {
          margin-bottom: 0;
        }
      }

      &:not(:last-of-type) {
        @media (min-width: 992px) {
          margin-right: 2rem;
        }
      }

      &.active {
        a.nav-link {
          color: $primary;
        }

        @media (min-width: 992px) {
          border-bottom: 5px solid $primary;
        }
      }

      &:hover {
        @media (min-width: 992px) {
          border-bottom: 5px solid $secondary;
        }

        a.nav-link {
          color: $secondary;
        }
      }

      a.nav-link {
        transform: translateY(3px);
        width: 100%;
        text-align: center;
        font-family: $font-titles;
        text-transform: uppercase;
        color: $grey;
        padding-left: 0;
        padding-right: 0;
        transition: $transition-standard;
      }
    }
  }
}

.header-sticky-scroll {
  position: fixed;
  width: 100%;
  z-index: 99;
  transition: all .2s ease-in-out;
}