.webform-confirmation-modal {
  z-index: 99999;
  background-color: $black;
  padding: 0;
  border-radius: 0;

  /* overriding the horrible, non-responsive modal code */
  /* which makes me use !important, aaaaargh */
  @media (max-width: 660px) {
    width: calc(100% - 4rem) !important;
    left: unset !important;
    top: 200px !important;
    margin: 0 2rem;
  }

  &.ui-widget.ui-widget-content {
    border: 1px solid $primary;
  }

  .ui-widget-header {
    color: $black;
    background-color: $primary;
    border: none;
    border-radius: 0;

    .ui-dialog-titlebar-close {
      border: 1px solid $primary;
      border-radius: 0;
      background-color: $black;
      color: $primary;
      line-height: 0;
      font-size: 0.8rem;
      margin-right: 0.5rem;

      &:focus {
        outline: none;
      }
    }
  }

  &--content {
    display: flex;
    align-items: center;
    color: $primary;
  }
}