.link {
  font-weight: $weight-bold;
  color: $primary;
  transition: $transition-standard;

  &:hover {
    text-decoration: none;
    color: $secondary;
  }

  &-arrow:after {
    content: '\f30b';
    display: inline-block;
    font-family: $font-awesome;
    padding-left: 0.5rem;
  }

  &-chevron:after {
    content: '\f054';
    display: inline-block;
    font-family: $font-awesome;
    padding-left: 0.5rem;
    font-size: 0.8rem;
  }
}

.home-link {
  background-image: url('../../dist/img/logo-wv-white.png');
  background-position: 0 50%;
  background-repeat: no-repeat;
  background-size: contain;
  opacity: 0.5;
  display: block;
  width: auto;
  height: 70px;
  color: transparent;

  &:hover {
    color: transparent;
  }
}

.nav-item {
  display: flex;
  align-items: center;
}

.frontpage {

  // hide home link in main nav on homepage
  header .navbar .nav-item.active {
    display: none;
  }
}