.top-image {
  z-index: 0;  /* mixin source map fix */
  @include full-width;
  position: relative;
  height: 48.9vw;
  min-height: 300px;
  max-height: 75vh;

  &-inner {
    height: 100%;
    @include bg-img-bottom;
    background-color: $secondary;
    background-blend-mode: multiply;
  }
}

.main-title {
  z-index: 1;
  margin: 0;
  padding: 5px;
  line-height: 0.9;
  text-shadow: 3px -3px 0 $black;

  @media (min-width: 480px) {
    text-shadow: 4px -4px 0 $black;
  }

  @media (min-width: 1200px) {
    text-shadow: 10px -10px 0 $black;
  }

  &-container {
    margin-bottom: 2rem;
    position: relative;
    top: -4.8rem;
    margin-bottom: -1.8rem;

    @media (min-width: 480px) {
      top: -5.3rem;
      margin-bottom: -1.8rem;
    }

    @media (min-width: 1200px) {
      top: -7rem;
      margin-bottom: -3rem;
    }
  }
}

.top-tags {
  text-align: center;

  .top-tag {
    display: inline-block;
    background-color: $secondary-50;
    color: $secondary;
    font-family: $font-titles;
    font-size: $font-size-base-min;
    text-transform: uppercase;
    padding: 0.5rem 1rem;
    margin-bottom: 0.5rem;
    margin-left: -0.35rem;

    &:not(:last-of-type) {
      margin-right: 0.5rem;
    }
  }
}

.intro-section {

  &-title {

  }
}