.top-image {
  z-index: 0;  /* mixin source map fix */
  @include full-width;
  position: relative;
  height: 48.9vw;
  max-height: 600px;

  &-inner {
    height: 100%;
    @include bg-img;
    background-color: $secondary;
    background-blend-mode: multiply;
  }
}

.intro-section {

  &-title {

  }
}