.slick {

  &-prev:before {
    content: '\f04a';
  }

  &-next:before {
    content: '\f04e';
  }

  &-prev:before,
  &-next:before {
    font-family: $font-awesome;
    font-weight: $weight-bold;
    font-size: 24px;
    color: $secondary;
    opacity: 1;
  }

  &-prev {
    left: -40px;
    top: 43%;
  }

  &-next {
    right: -40px;
    top: 43%;
  }

  // fix for unwanted box-shadow cut-off
  &-list {
    box-sizing: initial;
    padding: 5px 0px;
  }
}

ul.slick-dots {
  position: initial;

  li {

    &:before {
      background-color: $grey;
      width: $slider-dot-size;
      height: $slider-dot-size;
      border-radius: $slider-dot-size;
    }

    button {
      display: none;
    }

    &.slick-active:before {
      background-color: $primary;
    }
  }
}