.work-teaser {

  &:hover {
    text-decoration: none;

    .work-teaser-image-inner img {
      transform: scale(1.1);
    }

    .work-teaser-description p {
      color: $secondary;
    }
  }

  &-inner {
    background-color: $grey-overlay;
    transition: $transition-standard;
    display: flex;
    flex-direction: column;

    &:hover {
      background-color: $primary-25;
    }
  }

  &-image {
    position: relative;
    height: 180px;

    &-inner {
      height: 100%;
      overflow: hidden;
      @include bg-img;
      background-color: $secondary;
    }

    /* fallback for IE 10, 11 and Edge. */
    @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
      &:after{
        content:'';
        background: $secondary-50;
        position: absolute;
        top:0;
        left: 0;
        bottom:0;
        width:100%;
      }
    }
    /* end of fallback for IE 10, 11 and Edge. */

      img {
        display: block;
        width: 100%;
        height: 100%;
        min-width: 100%;
        min-height: 100%;
        object-fit: cover;
        object-position: bottom;
        mix-blend-mode: multiply;
        transition: $transition-standard;
    }

    .container {
      position: absolute;
      top: 0;
      left: 0;
    }
  }

  &-title {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    z-index: 1;
    margin: 0;
    line-height: 1.1;
    font-size: 1.4rem;
    text-shadow: 4px 4px 0 $black;

    @media (min-width: 360px) {
      font-size: 2rem;
    }

    @media (min-width: 768px) {
      padding-left: 0;
      padding-right: 0;
    }

    @media (min-width: 1200px) {
      padding-left: 1.5rem;
      padding-right: 1.5rem;
    }

    &-wrapper {

      @media (min-width: 768px) {
        padding-left: 0;
        padding-right: 0;
      }
    }

    &-container {
      margin-bottom: 2rem;
      position: relative;
      top: -0.7rem;
      margin-bottom: -1.5rem;

      @media (min-width: 360px) {
        top: -1.2rem;
      }
    }
  }

  &-description {
    flex: 1 1 auto;
    padding-top: 3rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    p {
      transition: $transition-standard;
    }
  }

  &-linktext {
    padding: 1.5rem 0.5rem;

    &:after {
      font-family: $font-awesome;
      content: '\f04e';
      font-size: $font-size-base-mobile;
      font-weight: $weight-bold;
      margin-left: 1.5rem;

      @media (min-width: 768px) {
        font-size: $font-size-base;
        margin-left: 2.5rem;
      }
    }
  }
}



.work-teaser-slider {

  &:hover {
    text-decoration: none;

    .work-teaser-image-inner img {
      transform: scale(1.1);
    }
  }

  &-inner {
    position: relative;

    .work-teaser-image {
      height: 180px;

      @media (min-width: 480px) {
        height: 250px;
      }
    }
  }

  &-title {
    line-height: 1.2;
    margin: 0 auto;
    width: 100%;
    font-size: 1.4rem;
    text-shadow: 4px -4px 0 $black;

    @media (min-width: 360px) {
      font-size: 2rem;
    }

    &-container {
      transform: translateY(-14px);
    }
  }

  &-tags {
    position: absolute;
    top: 0;
    right: 0;
    background-color: $secondary-50;
    color: $black;
    font-family: $font-titles;
    font-size: 0.8rem;
    text-transform: uppercase;
    padding: 0.5rem 1rem;
    text-align: right;
    line-height: 1.2;
  }
}

/* fallback for IE 10, 11 and Edge. PT2 */
@supports (-ms-ime-align:auto) {
  .work-teaser-image-inner:after{
    content:'';
    background: $secondary-50;
    position: absolute;
    top:0;
    left: 0;
    bottom:0;
    width:100%;
  }
}
/* end of fallback for IE 10, 11 and Edge. PT2 */