.work-teaser {

  &:hover {
    text-decoration: none;

    .work-teaser-image-inner {
      transform: scale(1.1);
    }

    .work-teaser-description p {
      color: $secondary;
    }
  }

  &-inner {
    background-color: $grey-overlay;
    transition: $transition-standard;
    display: flex;
    flex-direction: column;

    &:hover {
      background-color: $primary-25;
    }
  }

  &-image {
    position: relative;
    height: 180px;

    &-outer {
      height: 100%;
      overflow: hidden;
    }

    &-inner {
      height: 100%;
      @include bg-img;
      background-color: $secondary;
      background-blend-mode: multiply;
      transition: $transition-standard;
    }

    .container {
      position: absolute;
      top: 0;
      left: 0;
    }
  }

  &-title {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  &-description {
    flex: 1 1 auto;
    padding-top: 3rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;

    p {
      transition: $transition-standard;
    }
  }

  &-linktext {
    padding: 1.5rem 0.5rem;

    &:after {
      font-family: $font-awesome;
      content: '\f04e';
      font-size: $font-size-base-mobile;
      font-weight: $weight-bold;
      margin-left: 1.5rem;

      @media (min-width: 768px) {
        font-size: $font-size-base;
        margin-left: 2.5rem;
      }
    }
  }

  &-title-stroked {
    z-index: 1;
    margin: 0;
    line-height: 1.1;
    font-size: 2rem;

    &-container {
      margin-bottom: 2rem;
      position: relative;
      top: -1.2rem;
      margin-bottom: -1.5rem;
    }

    &-wrapper {
      position: relative;

      canvas {
        position: relative;
        top: 1px;
        left: 0;
        z-index: 0;
        transform: scale(0.997);

        @media (min-width: 480px) {
          top: 2px;
        }

        @media (min-width: 1200px) {
          top: 4px;
        }
      }
    }
  }
}



.work-teaser-slider {

  &-inner {
    position: relative;

    .work-teaser-image {
      height: 180px;

      @media (min-width: 480px) {
        height: 250px;
      }
    }

    .work-teaser-title-wrapper {
      transform: translateY(-14px);
    }

    .work-teaser-textcontent {
      line-height: 1.2;
      margin: 0 auto;
      width: 100%;
    }
  }

  &-tags {
    position: absolute;
    top: 0;
    right: 0;
    background-color: $secondary-50;
    color: $black;
    font-family: $font-titles;
    font-size: 0.8rem;
    text-transform: uppercase;
    padding: 0.5rem 1rem;
    text-align: right;
    line-height: 1.2;
  }
}